<div class="card">
    <h3 class="card-header">
        <div class="row">
            <div class="col-auto">
                {{post.title}}
            </div>
            <div class="col-auto">
                Created by
                {{post.user.name}}
                on
                {{format_date post.date_created}}
            </div>
        </div>
    </h3>
    <h3 class="card-body">
        {{post.content}}
    </h3>
</div>

{{#each comments as |comment|}}
<div class="card">
    <h3 class="card-header">
        Commented by {{comment.user.name}} on {{format_date comment.date_created}}
    </h3>
    <h3 class="card-body">
      {{comment.content}}
    </h3>
</div>
{{/each}}

<div class="card">
    <h3 class="card-header d-flex justify-content-between align-items-center">
    </h3>
    <h3 class="card-body">
        <form class="card-body post-form" data-id="{{post.id}}">
            <label class="form-label" for="content">Comment</label>
            <textarea name="content" id="content" rows="5" cols="33" class="form-textarea"></textarea>
            <button type="submit" class="btn">Submit</button>
        </form>
    </h3>
</div>


<script src="/js/comment.js"></script>